{% load theme_tags %}
{% load i18n %}
{% get_current_theme as THEME %}

<footer>
<nav style="padding: 5px;">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <fieldset role="group">
            <select title="language" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" class="secondary" value="{% translate "Select" %}">
        </fieldset>
    </form>
    <form action="{% url 'theme' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <fieldset role="group">
            <select title="theme" name="theme">
                {% get_available_themes as THEMES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for theme in THEMES %}
                    <option value="{{ theme.code }}"{% if theme.code == THEME %} selected{% endif %}>
                        {{ theme.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" class="secondary" value="{% translate "Select" %}">
        </fieldset>
    </form>

    {% if user.is_authenticated %}
        <ul>
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">管理者</a></li>
            {% endif %}
            <li><a href="{% url 'account_email' %}">{% translate "Account Email" %}</a></li>
            <li><a href="{% url 'account_change_password' %}">{% translate "Account Password" %}</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% translate "Log In" %}</a></li>
        </ul>
    {% endif %}
</nav>
   <p> © 2026</p>
</footer>
